<<<<<<< HEAD
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    }
    #wrapper{
    min-height: 100%;
    position: relative;
    }
    div.body-content{
      /** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
    padding-bottom: 100px;
    }
    footer{
    background: #ffab62;
    width: 99%;
    height: 50px;
    position: absolute;
    
    left: 0;
    }

=======
footer {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #343a40;
  text-align: center;
  margin: 1rem;

}
>>>>>>> 639e3262daaabc5068ef165de40250e26a6428d4
